@import '/src/styles/mixins';

section.container__wrapper {
  width: auto;
  height: auto;
  min-width: 1200px;

  pre,
  p {
    font-family: sans-serif;
  }

  .banner__container {
    width: 1040px;
    margin: 0 auto;

    @include clearfix;
  }
}
