@import '/src/styles/mixins';
.award_info__item {
  float: left;
  display: flex;
  align-items: center;

  &:nth-child(2n + 1) {
    margin-right: 39px;
  }

  img {
    display: inline-block;
    width: 54px;
    height: 54px;
  }

  pre {
    display: inline-block;
    margin: 0 0 0 8px;
    font-size: 14px;
    line-height: 22px;
    color: rgba(58, 58, 58, 0.8);
    font-weight: bold;
  }
}
