.main_award__item {
  position: relative;

  img {
    position: absolute;
    width: 400px;
    height: 338px;
  }

  span {
    position: absolute;
    left: 140px;
    width: 120px;
    top: 280px;
    //padding-top: 280px;
    font-size: 15px;
    text-align: center;
    font-family: sans-serif;
    color: rgba(58, 58, 58, 0.7);
  }
}
