@import '/src/styles/mixins';

@include keyFrame(fadeIn) {
  0% {
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.fade_base {
  opacity: 0;
}

.text_info__wrapper {
  &.fade_active {
    @include animation(100ms, 700ms, fadeIn, easy-in-out);
  }
}
