.text_info__item {
  font-size: 36px;
  letter-spacing: -1px;
  margin-bottom: 20px;
  line-height: 1;
  color: rgb(58, 58, 58);

  p.strong {
    margin: 0;
    font-weight: bold;

    > span:nth-child(2) {
      font-weight: normal;
    }
  }
}
