@import '/src/styles/mixins';

@include keyFrame(fadeIn) {
  0% {
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.main_award__container {
  float: left;
  padding-top: 150px;

  &.fade_base {
    opacity: 0;
  }

  &.fade_active {
    @include animation(0, 700ms, fadeIn, easy-in-out);
  }
}
